html, body, #app, .el-container {
  padding: 0;
  margin: 0;
  height: 100% !important;
  min-width: 1400px;
}

/*.el-input {*/
/*  height: 42px;*/
/*}*/

.el-header {
  padding: 0 !important;
}

.el-aside {
  background-color: #222222;
}

.el-main {
  background-color: #ececec;
  padding: 10px;
}

.card {
  background-color: white;
  padding: 10px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.header {
  font-size: 16px;
  margin: 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-row {
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-title {
  width: 80px;
  font-size: 14px;
}

.search-form {
  padding: 20px;
}
